@*@model Escuela.Models.ViewModel.StudentViewModel*@
 @model List<Escuela.Dominio.Students>
@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Student</h1>
@using (Html.BeginForm("Insertar", "Student", FormMethod.Post))
{
    @*@Html.LabelFor(f => f.FirtsMidName)
    @Html.TextBoxFor(f => f.FirtsMidName)
    @Html.ValidationMessageFor(f => f.FirtsMidName)

    @Html.LabelFor(l => l.LastName)
    @Html.TextBoxFor(l => l.LastName)
    @Html.ValidationMessageFor(l => l.LastName)

    @Html.LabelFor(l => l.EnrollementsDate)
    @Html.TextBoxFor(l => l.EnrollementsDate)
    @Html.ValidationMessageFor(l => l.EnrollementsDate)*@



    <input type="submit" value="Continuar" />

} 
<table id="mitabla" class="table table-striped table-hover">


    <thead>
        <tr>
            <th>
                Id 
            </th>
            <th>
                Student Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Enrollments Date
            </th>
            

        </tr>

    </thead>
    <tbody>

        @*@foreach (var iteracion in Model)
        {
        <td>@iteracion.StudentId</td>
        <td>@iteracion.FirtsMidName</td>
        <td>@iteracion.LastName</td>
        <td>@iteracion.EnrollementsDate</td>
        }*@


        </tbody>
    </table>
